<html>
    <head>
        <title>Nag's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Nag's Blog</a></h1>
        </div>

        <div>
            <p>Published: 01.05.2022, 16:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello! World!</p>
        </div>

        <div>
            <p>Published: 01.05.2022, 16:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Hello! World!</p>
        </div>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html> 